.convert-table {
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;

  &__input-section {
    display: flex;
    flex-direction: row;
  }

  &__currency-img {
    width: 11px;
    height: 16px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 12px;
    border-radius: 4px;
  }

  &__input-section:first-child {
    width: 7px;
  }

  &__add-currency-button {
    width: 79px;
    height: 22px;
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 6px;
    //background-color: #0080ff;
    color: white;
    font-size: 13px;

    > span {
      font-size: 12px;
    }
  }

  &__input-exchange {
    width: 59px;
    height: 14px;
    margin-top: 5px;
    border-color: #595959;
    border-radius: 5px;
    border-width: 1px;
  }

  &__output-exchange {
    width: 70px;
    height: 18px;
    margin-left: 9px;
    margin-right: 5px;
    margin-top: 5px;
    border-color: transparent;
    font-size: 13px;
    overflow: auto;
  }

  &__input-fields {
    display: flex;
    flex-direction: column;
  }

  &__converted-currency {
    display: flex;
    flex-direction: column;
  }

  &__input-percentage {
    display: flex;
    flex-direction: column;

  }

  &__input-percentage-form {
    width: 52px;
    margin-top: 5px;
    height: 14px;
    margin-left: 8px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #595959;
  }

  &__title {
    font-size: 12px;
    height: 15%;
    justify-content: center;
    word-wrap: break-word;
    margin-left: 11px;
    margin-right: 10px;
  }
}


