.convert-table {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
}
.convert-table__input-section {
  display: flex;
  flex-direction: row;
}
.convert-table__currency-img {
  width: 17px;
  height: 12px;
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.convert-table__input-section:first-child {
  width: 7px;
}
.convert-table__input-exchange {
  width: 40px;
  height: 9px;
  margin-top: 5px;
}
.convert-table__output-exchange {
  width: 70px;
  height: 18px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 8px;
  border-color: transparent;
  font-size: 13px;
  font-weight: bold;
  overflow: auto;
  padding-right: 2px;
}
.convert-table__input-fields {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: wheat;
  width: 33%;
}
.convert-table__converted-currency {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background-color: whitesmoke;
}
.convert-table__input-percentage {
  display: flex;
  width: inherit;
  height: inherit;
  background-color: red;
}
.convert-table__title {
  font-size: 12px;
  height: 10%;
  justify-content: center;
  word-wrap: break-word;
  margin-left: 11px;
  margin-right: 14px;
}
.convert-table__graph-1 {
  display: inherit;
  width: 400px;
  height: 200px;
  margin-left: 70px;
}
.convert-table__graph-2 {
  display: inherit;
  width: 300px;
  height: 200px;
  margin-left: 70px;
}
