.convert-table {
  width: 350px;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
}
.convert-table__input-section {
  display: flex;
  flex-direction: row;
}
.convert-table__currency-img {
  width: 17px;
  height: 12px;
  padding-top: 13px;
  padding-right: 8px;
  padding-left: 1px;
}
.convert-table__input-section:first-child {
  width: 7px;
}
.convert-table__add-currency-button {
  width: 70px;
  height: 22px;
  margin-left: 14px;
  margin-top: 11px;
  border-radius: 16px;
  background-color: darkcyan;
}
.convert-table__add-currency-button > span {
  font-size: 12px;
}
.convert-table__input-exchange {
  width: 46px;
  height: 14px;
  margin-top: 9px;
}
.convert-table__output-exchange {
  width: 70px;
  height: 18px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 11px;
  border-color: transparent;
  font-size: 13px;
  font-weight: bold;
  overflow: auto;
  padding-right: 2px;
}
.convert-table__input-fields {
  display: flex;
  flex-direction: column;
}
.convert-table__converted-currency {
  display: flex;
  flex-direction: column;
}
.convert-table__input-percentage {
  display: flex;
  flex-direction: column;
}
.convert-table__input-percentage-form {
  width: 40px;
  margin-top: 8px;
  height: 9px;
  margin-left: 10px;
}
.convert-table__title {
  font-size: 12px;
  height: 10%;
  justify-content: center;
  word-wrap: break-word;
  margin-left: 11px;
  margin-right: 14px;
  margin-bottom: 24px;
}
.convert-table__graph-1 {
  display: inherit;
  width: 400px;
  height: 200px;
  margin-left: 70px;
}
.convert-table__graph-2 {
  display: inherit;
  width: 400px;
  height: 200px;
  margin-left: 40px;
}
.convert-table__line-graph-1 {
  fill: none;
  stroke-width: 2px;
}
.convert-table__line-graph-1:hover {
  fill: red;
}
