.converter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 280px;
  margin-left: 10px;
}
.converter__for-button {
  display: flex;
  flex-direction: column;
}
.converter__container-for-graphs {
  display: flex;
  justify-content: space-between;
}
