.main-page__title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 15px;
}
.main-page__header {
  display: flex;
  flex-direction: row;
}
.main-page__header > p {
  margin-top: 27px;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
}
.main-page__header > input {
  margin-top: 9px;
}
.main-page__currency-choose {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-left: 685px;
}
.main-page__currency-choose > p {
  font-size: 14px;
  font-style: italic;
  margin-top: 18px;
  margin-right: 5px;
}
.main-page__currency-choose > select {
  width: 62px;
  height: 25px;
  font-size: 13px;
  margin-top: 12px;
  margin-left: 5px;
}
