.main-page {
  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    >p{
    margin-top: 27px;
    margin-left: 4px;
    font-size: 13px;
    font-weight: bold
    }
    >input{
      margin-top: 9px;
    }
  }
  &__currency-choose{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-left: 685px;
  >p{
    font-size: 14px;
    font-style: italic;
    margin-top: 18px;
    margin-right: 5px;
  }
  >select{
    width: 62px;
    height: 25px;
    font-size: 13px;
    margin-top: 12px;
    margin-left: 5px;


  }
  }
}